<!doctype html>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	<link href="/static/css/fixes.css" rel="stylesheet" >
	<link href="/static/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-timepicker.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script src="/static/js/bootstrap-datepicker.min.js"></script>
	<script src="/static/js/bootstrap-timepicker.min.js"></script>
	<script src="/static/js/jquery.bootstrap-touchspin.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-family:homestead" href="/">OppApp</a>
    </div>
    <ul class="nav navbar-nav">
        {% if g.user.is_authenticated %}
			<li><a href="{{ url_for('profile', uid = g.user.id) }}"><i class="fa fa-user" aria-hidden="true"></i><b> {{ g.user.fname }} {{ g.user.lname }}</b></a></li>
		{% else %}
			<li><a href="{{ url_for('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
			<li><a href="{{ url_for('register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
		{% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
		{% if g.user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
		{% endif %}
    </ul>
  </div>
</nav>

<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert alert-info">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
</div>

<footer id="footer" class="footer">
	<div class="container">
		<div class="row top-buffer">
	<p class="text-muted">Made with love by Erik Azevedo 
	<i class="fa fa-coffee" aria-hidden="true"></i>
	<a target="_blank" href="https://www.instagram.com/azevedo11/" class="fa fa-instagram" aria-hidden="true"></a>
      </p>
      </div>
     </div>
</footer>
</body>
